.user {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-wrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.name {
  text-align: right;
}

.user Button {
  padding: 5px 10px;
  background-color: rgba(220, 20, 60, 0.593);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-delete {
  background-color: var(--btnError);
  color: var(--text);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
