.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout-btn {
  padding: 10px;
  border: none;
  background-color: var(--text);
  color: var(--bg);
  font-weight: bold;
  cursor: pointer;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu-btn,
.mobile-link {
  display: none;
}

@media (max-width: 1024px) {
  .links {
    display: none;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
  }

  .mobile-link {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
