:root {
  --bg: #040f16;
  --bgSoft: #0C1B33;
  --text: #eaeaea;
  --textSoft: #adb5bd;
  --textError: #BA1F33;
  --btn: #1B5299;
  --btnHover: #194884;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1536px) {
  .container {
    width: 1536px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1366px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 475px) {
  .container {
    width: 380px;
    transition: all 0.25s ease-in-out;
  }
}
