:root {
  --bg: #040f16;
  --bgSoft: #0c1b33;
  --text: #eaeaea;
  --textSoft: #adb5bd;
  --textError: #ba1f33;
  --btn: #1b5299;
  --btnHover: #194884;
  --btnError: #ba1f33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 50px solid #333;
  border-color: orange transparent orange transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media (max-width: 1536px) {
  .container {
    width: 1536px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1366px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 475px) {
  .container {
    width: 380px;
    transition: all 0.25s ease-in-out;
  }
}
